// Place all the styles related to the Missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	border:1px solid black;
	table-layout:fixed;
	border-collapse:collapse;
	tr,th,td{
		border:1px solid black;	
		text-align: center;
	}
	.mytd{
  max-width: 200px;  
  overflow: hidden;  
  text-overflow: ellipsis;  
  white-space: nowrap;  	
	}

}

